@font-face {
    font-family: 'Monument Extended';
    src: url('../fonts/MonumentExtended-Bold.woff2') format('woff2'),
    url('../fonts/MonumentExtended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h1,h2,h3 {
    font-family: 'Monument Extended';
    font-weight: bold;
    font-style: normal;
}

body {
    color: black;
    background-color: #b4c3ca;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23bdccd4' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

a:hover{
    color:#55676b;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.sectionFooterDecor{
    width:100vw;
}


.boxed {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    border-style: solid;
    border-width: 2px;
    padding: .8vw;
    line-height: 2.9rem;
}



.container {
    position: relative;
    width: 90%;
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box; }

.header {
    height: 100vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
}

.navbar {
    visibility: visible;}

.logotipo {
    display: block;
    width: calc(350px + 10vw);
    margin-left: auto;
    margin-right: auto;
}







/* Larger than phone */
@media (min-width: 550px) {

    .header {
        margin-top: 5vh;
    }

    .logotipo {
        display: block;
        width: calc(450px + 10vw);
        margin-left: auto;
        margin-right: auto;

    }

    .container{
        width: 90%;
    }




}

/* Larger than tablet */
@media (min-width: 750px) {

    /* Logo Main centrado*/

    .logotipo {
        display: block;
        width: calc(450px + 10vw);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40vh;
    }

    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
        }
    .navbar,
    .navbar-spacer {
        display: none;
        width: 100%;
        height: 7rem;
        z-index: 99;
        padding-top: 15px;
         }
    .navbar-spacer {
        display: none; }
    .navbar > .container {
        width: 95%; }
    .navbar-list {
        list-style: none;
        float: right;
        margin-bottom: 0;
        }
    .navbar-item {
        position: relative;
        float: left;
        }
    .navbar-logo {
        position: relative;
        float: left;
        margin-left:0px;
    }
    .navbar-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: calc(15px + 1vw);
        letter-spacing: calc(.04rem+.01vw);
        margin-right: .3rem;
        text-decoration: none;
        line-height: 2rem;
        color: black;
         }
    .navbar-link.active {
        color: #55676b; }

    .navbar-logozito {

        visibility: hidden;
        float: left;
        height: calc(23px + 0.7vw);
        margin-right: 0;

    }


    .has-docked-nav .navbar {
        display: block;
        position: fixed;
        top: 0px;
        left: 0; }
    .has-docked-nav .navbar-spacer {
        display: block; }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 90%; }

    .has-docked-nav .navbar-logozito {
        visibility: visible;
    }

    .has-docked-nav .logotipo {
        visibility: hidden;
    }
    .has-docked-nav .navbar-link {

        font-size: calc(10px + 1vw);
        letter-spacing: calc(.04rem+.01vw);
    }



        /* Popover */
    .popover.open {
        display: block;
    }
    .popover {
        display: none;
        position: absolute;
        top: 0px;
        left: 0;
        margin-top: calc(2px + 0.1vw);
        background: rgba(189,204,212,.8);
        border: 2px solid black;
        border-radius: 0px 0px 0px 0px;
        top: 110%;
        left: -40%;
        -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
        -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
        filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
    .popover-item:first-child .popover-link:after,
    .popover-item:first-child .popover-link:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
    .popover-item:first-child .popover-link:after {

        border-bottom-color: black;
        border-width: 0px;
        margin-left: -11px; }
    .popover-item:first-child .popover-link:before {
        border-color: black;
        border-bottom-color: black;
        border-width: 0px;
        margin-left: -11px; }
    .popover-list {
        padding: 0;
        margin: 0;
        list-style: none; }
    .popover-item {
        padding: 0;
        margin: 0; }
    .popover-link {
        position: relative;
        color: black;
        display: block;
        padding: 8px 20px;
        border-bottom: 2px solid black;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: calc(10px + 1vw);
        letter-spacing: calc(.04rem+.01vw);
        margin-right: 0;
        text-decoration: none;
        line-height: 30px;
        color: #222; }
    .popover-item:first-child .popover-link {
        border-radius: 0px 0px 0 0; }
    .popover-item:last-child .popover-link {
        border-radius: 0 0 4px 4px;
        border-bottom-width: 0; }
    .popover-link:hover {
        color: #55676b;;
         }
    .popover-link:hover,
    .popover-item:first-child .popover-link:hover:after {
        border-bottom-color: black; }
}






